html,
body {
    padding: 0;
    margin: 0;
    background-color: beige;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-style: italic;
}

/* .card-style {
    border: 10px solid white;
} */

.card-style {
    border: 10px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: beige;
    box-shadow: 5px 10px 25px rgb(220, 173, 234);
    border-radius: 10px;
    transition: 0.8;
    cursor: pointer;
}

.details-card {
    height: 100%;
    width: 100%;
    border: 10px solid white;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    background: beige;
    box-shadow: 5px 10px 25px rgb(220, 173, 234);
    border-radius: 10px;
    transition: 0.8;
    cursor: pointer;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
    margin-left: 15rem;
}
.allText {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    align-items: center;
    /* background-color: cadetblue; */
}

.iconButton {
    background-color: #16384c;
    color: #ffffff;
    padding: 6px;
    border-radius: 8px;
}
